*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  row-gap: 0.25rem;
}

.container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 1rem;
}
