body {
	height: 100vh;
	border: 1px solid #000;
	display: flex;
}

.bluebox {
	background-color: blue;
	width: 500px;
	height: 500px;
	margin: auto auto;
	display: flex;
}

.redbox {
	background-color: red;
	width: 100px;
	height: 100px;
	margin: auto auto;
}
