{% extends 'layout.html'%}

{% block content %}
<div class="container">

<h1>Add a new user</h1>
<form action="/users/create" method="POST">
  <label for="firstname">First Name:</label>
  <input type="text" name="firstname" placeholder="Input first name">
  <br>
<label for="lastname">Last Name:</label>
  <input type="text" name="lastname" placeholder="Input last name">
  <br>
<label for="email">Email:</label>
  <input type="email" name="email" placeholder="Input email">
  <br>
  <input type="submit" name="submit" value="Create">

</form>

<a href="/users">Go Back</a>
</div>
{% endblock %}
